/**
* Styling for header 
*/

@import 'variables';
@import 'mixins';

.user_header {
  @include flexbox(column, center, center);
  padding-top: 120px;
  height: 520px;
  width: 100vw;
  background-color: $aqua-color; 
  background-image: url("../images/brick-wall-dark.png");
  margin-bottom: 1em;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  

  .user_header {
    background-color: $aqua-color;
    color: $white-color;
  }
}