/** Styling for New Tweet component
*/

@import 'variables';

#form-toggle {
  display: none;
}

.new-tweet-form {
  display: flex;
  flex-direction: column;
  font-family: $font;
  font-size: 1em;
  font-weight: bold;
  padding-top: 3%;
}


.tweet-text {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  border: none;
  border-bottom: black solid 0.1em;
}

.tweet-send {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  font-family: $btn-font;
}

.tweet-button {
  background-color: $blue-color;
  color: $white-color;
  padding: 0.2em;
  cursor: pointer;
  :hover {
    background-color: $hover-blue;
  }
}

.counter-red {
  color: $red-color
}

#error-message {
  color: $red-color;
  background-color: $ligtht-red;
  display: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1%;
  img {
    width: 5%;
    height: 5%;
    margin: 10px;
  }
}
