
.tweet{
  margin-bottom: 5%;
  border: black 0.1em solid;
  padding: 5%;
}

.tweet:hover {
  box-shadow: 10px 10px rgba(33,33,33,.2); 
}

.tweet header {
  display: flex;
  justify-content: space-between;
  color: purple
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile img {
  width: 2em;
  height: auto;
  margin: 2%;
}

.tweet p {
  padding-top: 1%;
  padding-bottom: 1%;
}

.tweet footer {

  display: flex;
  justify-content: space-between;
  border-top: solid black 0.1em;
  align-items: center;
}

.tweet footer div :hover {
  color:rgb(238, 214, 59)
}